@import '../style.scss';

.avatar-demo {
  .x-avatar {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.avatar-demo-badge {
  .x-avatar {
    margin: 0;
  }
  .x-badge {
    margin-right: 10px;
  }
}