@charset "utf-8";
@import '../style/index.scss';

.x-row {
  display: flex;
  flex-flow: row wrap;
  &--start {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--end {
    justify-content: flex-end;
  }
  &--space-around {
    justify-content: space-around;
  }
  &--space-between {
    justify-content: space-between;
  }
  &--top {
    align-items: flex-start;
  }
  &--middle {
    align-items: center;
  }
  &--bottom {
    align-items: flex-end;
  }
  .x-col {
    position: relative;
    flex: 1 0 auto;
    max-width: 100%;
  }
}
