.root-wrapper {
  height: 100%;
  .ant-layout-sider {
    height: 100%;
    background-color: #fff !important;
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      .logo{
        flex: 0;
        height: 64px;
        padding:4px;
        text-align: center;
        border-bottom:1px solid #ddd;
        img{
          height: 100%;
        }
      }
      .ant-menu-root {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
  .main-warpper{
    height: calc(100vh - 64px);
    overflow-y: auto;
    padding:12px;
    background: #fff;
  }
  .trigger{
    color:#fff;
  }
}