@charset "utf-8";
@import '../style/index.scss';

$prefix: 'x-avatar';
$avatar-bg: #ccc;
$avatar-size-sm: 24px;
$avatar-size-base: 32px;
$avatar-size-lg: 48px;
$avatar-font-size-base: 18px;
$avatar-font-size-lg: 22px;
$avatar-font-size-sm: 14px;

@mixin avatar-size($size, $font-size) {
  width: $size;
  height: $size;
  line-height: $size;
  &.#{$prefix}--icon {
    font-size: $font-size;
  }
}

.#{$prefix} {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  background: $avatar-bg;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;

  @include avatar-size($avatar-size-base, $avatar-font-size-base);

  &--square {
    border-radius: 2px;
  }

  &--lg {
    @include avatar-size($avatar-size-lg, $avatar-font-size-lg);
  }

  &--sm {
    @include avatar-size($avatar-size-sm, $avatar-font-size-sm);
  }
}