@charset "utf-8";
@import '../style/index.scss';

$prefix: 'x-avatar';
$avatar-bg: #ccc;
$avatar-size-sm: 24px;
$avatar-size-base: 32px;
$avatar-size-lg: 48px;
$avatar-font-size-base: 18px;

@mixin avatar-size($size, $font-size) {

}

.#{$prefix} {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  background: $avatar-bg;
  color: #fff;

  width: $avatar-size-base;
  height: $avatar-size-base;
  line-height: $avatar-size-base;
  border-radius: 50%;

  &--square {
    border-radius: 2px;
  }

  &--icon {
    font-size: $avatar-font-size-base;
  }

  &--lg {
    font-size: 20px;
    width: $avatar-size-lg;
    height: $avatar-size-lg;
    line-height: $avatar-size-lg;
  }

  &--sm {
    font-size: 14px;
    width: $avatar-size-sm;
    height: $avatar-size-sm;
    line-height: $avatar-size-sm;
  }
}